.responses { 
	white-space: pre; 
	font-family: monospace; 
}

.sample-img:hover {
	cursor: pointer;
}

a.disabled {
	pointer-events: none;
	cursor: default;
}

#results-button:disabled {
	cursor: progress;
}

.card-columns {
	column-count: 1;
}

.response-card {
	display: none;
}