.responses { 
	white-space: pre; 
	font-family: monospace; 
}

.sample-img:hover {
	cursor: pointer;
}

a.disabled {
	pointer-events: none;
	cursor: default;
}

#results-button:disabled {
	cursor: progress;
}

.card-columns {
	column-count: 1;
}

.response-card {
	display: none;
}

.card-img-left {
  /*border-bottom-left-radius: calc(.25rem - 1px);*/
  /*border-top-left-radius: calc(.25rem - 1px);*/
  /*float: left;*/
  /*padding-right: 1em;*/
  /*margin-bottom: -1.25em;*/
  max-width: 180px;
  max-height: 180px;
}

#scorecard-table td, #scorecard-table th {
	vertical-align: middle;
	text-align: center;
}

#coded-gaze {
	font-size: 2.3rem;
	padding: 0.7em;
}